
body{
  background-color:rgb(245, 245,245);
}

.init{
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
}

.frame{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo img{
  size: 50px;
  margin-right: 200px;
}

.logo h3{
  margin-right: 30px;
  margin-left: 20px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.authentication{
  background-color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 6px #dcdcdc;
}
.login{
  border-radius: 8px;
  padding: 50px;
  text-align: center;
}

.login input{
  font-size: 25px;
  line-height: 50px
}

.login .submit{
  font-size: 25px;
  width: 325px;
  background-color: #1877f2;
  color: #fff;
  border-radius: 8px;
}

.login .signup{
  font-size: 15px;
  background-color: #00a400;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 8px;
}
